[submodule "shinyR/webR_site_uploader"]
	path = shinyR/webR_site_uploader
	url = https://github.com/niccw/webR_test2.git
[submodule "quarto"]
	path = quarto
	url = https://github.com/niccw/quarto_live_demo.git
